
{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin index</title>
</head>
<body>
    <h1>Admin index page</h1><br>

    <div class="container border border-5 border-dark rounded rounded-4 w-25"> 
        <a style="background-color:#662549 ; color: #f39f5a;" class="btn  me-5 w-100  mt-3" href="adminviewallproduct"><STrong>VIEW PRODUCTS</STrong></a><br>
        <a style="background-color:#662549 ; color: #f39f5a;" class="btn  me-5 w-100  mt-3" href="adminviewshop"><STrong>VIEW SHOP</STrong></a><br>
        <a style="background-color:#662549 ; color: #f39f5a;" class="btn  me-5 w-100  mt-3" href="viewcustomer"><strong>VIEW CUSTOMERS</strong></a><br>
        <a style="background-color:#662549 ; color: #f39f5a;" class="btn  me-5 w-100  mt-3" href="category"><strong>MANAGE CATEGORY</strong></a><br>
        <a style="background-color:#662549 ; color: #f39f5a;" class="btn  me-5 w-100  mt-3" href="adminviewstock"><strong>VIEW STOCKS</strong></a><br>
        <a style="background-color:#662549 ; color: #f39f5a;" class="btn  me-5 w-100  mt-3 me-3" href="adminviewcomplaints"><strong>VIEW COMPLAINTS</strong></a><br><br>
    </div>
</body>


