{% include 'base.html' %}
                                                                                                                                                                                  
<body >
    <div class="background">
        <div class="d-flex justify-content-between   navbar navbar-default navbar-fixed-top" >
            <div class="">
            <H1>INDEX PAGE</H1>
            </div>
            <nav class="d-flex justify-content-space-evently">
                <a style="background-color:#662549 ; color: #f39f5a;" class="btn  me-5 w-50" href="shopsignup">shop signup</a><br>
                <a style="color: #f39f5a; background-color: #662549;" class="btn  me-5 w-50" href="login">login</a><br>
                <a style="color: #f39f5a; background-color: #662549;" class="btn  me-5 w-50" href="signup">user signup</a><br>
            </nav>
        </div>
</div>

   
</body>
</html>
