{% include 'base.html' %}
<body>
    <h1>New shops registration</h1> <br>
    <center>
        <form style="background-color: #32004A; color: #f39f5a;border-radius: 20px; border-width: 5px; border-color: #f39f5a;" class="border border-5 w-50 " action="" method="post" enctype="multipart/form-data">
            
                    <label class="label" for="">Shop Name:</label> 
           
                    <input class="" type="text" name="shopname" placeholder="shopname"><br>
      
                    <label for="">Place:</label>
                
               
                    <input type="text" name="shopplace" placeholder="shop place"><br>
            
            
                    <label for="">Landmark:</label>
                
                    <input type="text" name="shoplandmark" placeholder="landmark"><br>
                
           
                    <label for="">Phone:</label>
                
                    <input type="text" name="shopphone" placeholder="phone  number"><br>
                
            
                    <label for="">Email:</label>
                
                    <input type="email" name="shopemail" placeholder="email"><br>
                
                    <label for=""> Shop Image:</label>
                
                    <input class="btn " type="file" name="shop_image" ><br>
                
                    <label for="">User Name:</label>
                
                    <input type="text" name="username" placeholder="username"><br>
               
                    <label for="">password:</label>
               
                    <input type="password" name="password" placeholder="password"><br><br>
                <input style="background-color: #f39f5a; color: #32004A;" class="btn" type="submit" name="submit" value="submit"><br><br>
            
        </form>
    </center>
</body>
</html>