{% include 'base.html' %}
<body>
    <center>
    <h1>Hello this is Sign in Page</h1>
    <form action="" method="post" name="form">
    <br>
        <tr>
            <th>First Name</th>
            <td><input type="text" placeholder="firstname" name="firstname"></td>
        </tr>
        <br><br>
        <tr>
                <th>Last Name </th>
                <td><input type="text" placeholder="lastname" name="lastname"></td>
        </tr>
        <br><br>
        <tr>
            <th>
                House name:
            </th>
            <td><input type="text" placeholder="housename" name="housename"></td>
        </tr><br><br>
        <tr>
        <tr>
            <th>
                Pincode:
            </th>
            <td><input type="number" placeholder="pincode" name="pincode"></td>
        </tr><br><br>
        <tr>
            <tr>
                <th>
                    phone:
                </th>
                <td><input type="number" placeholder="Phone" name="phone"></td>
            </tr>
        <br><br>
        <tr>
            <th>
                Place:
            </th>
            <td><input type="text" placeholder="Place" name="place"></td>
        </tr>
        <br><br>
        <tr>
            <th>
                email:
            </th>
            <td><input type="text" placeholder="email" name="email"></td>
        </tr>
        <br><br>
        <tr>
            <th>
                username:
            </th>
            <td>
                <input type="text" placeholder="username" name="username">
            </td>
        </tr>
        <br><br>
        <tr>
            <th>
                password:
            </th>
            <td>
                <input type="password" placeholder="password" name="password">
            </td>
        </tr><br><br>
        
       
        <input type="submit" name="submit">
        </form>
        </center>
</body>
</html>